.results-container {
    padding-bottom: 150px;
    background-color: #066780;
    color: white;
    width:80%;
}
.order-container {
    margin: 25px 35px 25px auto;
    width:75%;
    min-width: 150px;
    max-width: 325px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.order-container h3, .order-container h2, .order-container h1 {
    margin: 0;
}
.order-container h1 {
    margin:15px 0;
}
.order-container-box{
    height: auto;
    background-color: white;
    color: #002731;
    padding: 15px 20px;
}
.order-container h2 {
    margin:7.5px 0;
}
.order-container h3 {
    font-weight: lighter;
    font-size: 20px;
}
.order-row {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.order-info {
    display: flex;
    direction: rtl;
    justify-content: center;
    background-color: #002731;
    transition: 0.3s;
    color: #fff;
    margin-top: 15px;
    padding: 15px;
    font-size: 18px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    border:none;
}
.order-info:hover {
    background-color: #066780;
}
.orders-section {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}
.section-header {
    margin-left: auto;
    margin-right: 15px; 
    margin-bottom: 0;
    font-weight: bold;
}
.full-container {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    height: auto;
    align-self: center;
    justify-content: space-between;
}
.options-container {
    background-color: white;
    min-height: 125px;
    height: 50%;
    width: 15%;
    padding: 15px;
    margin-left: 25px;
}
.options-container h1 {
    font-size: 19px;
    direction: rtl;
    font-weight: bold;
    margin-bottom: 17.5px;
}
.options-container label {
    font-size: 18px;
    font-weight: normal;
    margin-left: auto;
}
.opt-row {
    min-height: 45px;
    display: flex;
    margin-left: auto;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
#deliveredHeader, #ordersDeliveredSec {
    display: none;
    transition: 0.3s;
}
.btns-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.del:hover{
    background-color: hsl(357, 69%, 40%);
}
.del {
    font-size: 23px;
    width: 60px;
    background-color: hsl(357, 69%, 30%);
}
@media (max-width: 900px) {
    .full-container {
        flex-direction: column;
    }
    .options-container {
        margin: auto;
        width: 80%;
        margin-bottom: 25px;
    }
}